.navbar {
    padding: 0;
}
.navbar a {
    color: #FFFFFF;
}
.navbar-crypto-list a {
    color: #000000;
}
.navbar-crypto-list a.active {
    color: #007bff;
}
.nav-tabs .nav-link {
    color: #000000;
    border-color: #FFFFFF #FFFFFF #FFFFFF;
}
.nav-tabs .nav-link.active {
    color: rgb(50, 217, 147);
    border-color: #FFFFFF #FFFFFF #FFFFFF;
}
.wallet-balance {
    padding-top: 10px;
    padding-bottom: 10px;
}
.order-form {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
    padding: 15px 5px;
}
